@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Gruppo&display=swap');
/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-6/nat583.cur), auto !important;} /* End https://www.cursors-4u.com */

body {
    background-color: #8d9cb5;
    max-width: 1200px ;
    margin: auto;
    font-family: 'Gruppo', sans-serif;
}

header {
    width: 400px;
    position: fixed; 
    top: 5px;
    left: 4px;
}

nav {
    background-color: #cfcfcf;
    text-align: center;
    border-radius: 10px;
    border-color: #273a5b;
    border-style: solid;
    border-width: thin thin medium medium;
    width: 400px;
    height: 540px;
    position:fixed;
    top: 230px;
    left: 25px;
    font-size: x-large;
    color: #273a5b;
}

ul {
    list-style-type: none;
    text-decoration-style: none;
}

ul li {
    margin-bottom: 18px;
    margin-right: 10px;
    text-decoration-style: none;
    text-align: center;
}

a {
    text-decoration: none;
    color: #273a5b;
    text-align: center;
}

a:hover {
    color:white;
}

li:hover {
    font-size: 30px;
    color:#cfcfcf;
}

/* #friend_box {
    color: whitesmoke;
    background-color: #597097;
} */

/* a { 
    text-decoration: none;
    color: #8d9cb5
}

a:hover {
    background-color: whitesmoke

} 
*/

main {
    width: 900px;
    margin-left: 500px;
    font-family: 'Gruppo', sans-serif;
    text-align: center;
    font-size:x-large;
    color: whitesmoke;
}

#layout {
    background-color: #597097;
    width: 80%;
    padding: 1%;
    border-style:solid;
    border-color: #273a5b;

}

section {
    background-color: #cfcfcf;
    text-align: center;
    width: 75%;
    border-color:#273a5b;
    border-style: solid;
    border-width: medium medium thick thick;
    margin: auto;
    margin-top: 5%;
    padding: 25px;
}

section img {
    position: relative;
    border-style: inset;
    border-radius: 10px;
    border-color: black;
    display:block;
    text-align:center;
    margin:auto;
}

img:hover {
    opacity: 0.8;
}

section p {
    text-align:center;
    background-color: #597097;
    border-color: #273a5b;
    border-style: solid;
    border-width: thin thin medium medium;
    border-radius: 8px;
    /* position: absolute;
    width: 300px;
    right: 600px;
#    left: 1150px;
    top: 300px; */
} 


footer{
    width: 400px;
    position: fixed; 
    bottom: 25px;
    left: 25px;
}

#splashgif {
    text-align:center;
    margin: auto;
    margin-top: 15%;
}